@import url("./tealeaf.css");

html,
body {
  padding: 20px;

  background: var(--tl-grey-000);
}

.CodeMirror {
  border-radius: var(--tl-radius-lg);
  padding: var(--tl-size-10);
  width: 100%;
  margin: 0 auto;
  font-size: var(--tl-size-12);
  padding-top: var(--tl-size-14);
}
